output/
data/data_raw/
data/processed/
cluster/log/
__pycache__/
*.pyc
.ipynb_checkpoints/
lan/training_data/
lan/trained_lan/

!output/.gitkeep
!data/data_raw/.gitkeep
!data/processed/.gitkeep
!cluster/log/.gitkeep

!data/data_raw/rnn_ddm_nxx1_s42_g1.0.parquet